<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_header")
</head>

<body>
@Html.Partial("_LoginPartial")
@Html.Partial("content")
<div id="tab" style="display:none">
    @Html.Partial("_footer")
</div>
</body>
</html>