@model System.Collections.Generic.List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "title";
}
<h2>You Roles</h2>
<section class="col-sm-6">
    <table class="table-bordered">
        @Html.ActionLink("Create Role", "Create", "Role")
    </table>
</section>

<section class="col-sm-6">
    <table class="table-bordered">
        @Html.ActionLink("Asign Role To User", "RegisterRole", "Account")
    </table>
</section>
<br />

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Role Name
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
        </tr>
    }
</table>