

<table class="center" style="width:90%;">

    <tr>
        <td style="text-align:center"><b><i> J. R. R. Tolkien's legendarium</i></b> </td>
    </tr>
    <tr>

        <td>

            <b>Main works:</b><i> <a href="https://en.wikipedia.org/wiki/The_Hobbit" target="_blank"> The Hobbit  </a></i><i> * The Lord of the Rings * </i><i><a href="https://en.wikipedia.org/wiki/The_Tale_of_Aragorn_and_Arwen" target="_blank"> The tale of Aragorn and Arwen</a> * </i><i><a href="https://en.wikipedia.org/wiki/The_Silmarillion" target="_blank"> The Silmarillion </a>  </i>


        </td>
    </tr>

    <tr>
        <td>

            <b>Other works:</b>

            <a href="https://en.wikipedia.org/wiki/The_Adventures_of_Tom_Bombadil" target="_blank"><i> The Adventures of Tom Bombadil</i></a> ,
            <a href="https://en.wikipedia.org/wiki/The_Road_Goes_Ever_On" target="_blank"> <i> The Road Goes Ever On </i></a>

        </td>
    </tr>


    <tr>
        <td>

            <b>Posthoumous publications:</b>

            <a href="https://en.wikipedia.org/wiki/Beren_and_L%C3%BAthien" target="_blank"><i>Beren and Lúthien </i> </a> *

            <a href="https://en.wikipedia.org/wiki/Bilbo%27s_Last_Song" target="_blank"> <i>Bilbo's Last Song </i> </a> *

            <a href="https://en.wikipedia.org/wiki/The_Children_of_H%C3%BArin" target="_blank"><i>The Children of Húrin</i> </a>  *

            <a href="https://en.wikipedia.org/wiki/The_Fall_of_Gondolin" target="_blank"> <i>The Fall of Gondolin</i> </a>  *

            <a href="https://en.wikipedia.org/wiki/The_History_of_The_Hobbit" target="_blank"><i> The History of The Hobbit </i></a>  *

            <i> <a href="https://en.wikipedia.org/wiki/The_History_of_Middle-earth" target="_blank"> The History of Middle-earth (<a href="https://en.wikipedia.org/wiki/The_Book_of_Lost_Tales" target="_blank"> The Book of Lost Tales</a> , <a href="https://en.wikipedia.org/wiki/The_Lays_of_Beleriand" target="_blank"> The Lays of Beleriand (<a href="https://en.wikipedia.org/wiki/The_Lay_of_Leithian" target="_blank"> The Lay of Leithian </a>) </a> , <a href="https://en.wikipedia.org/wiki/The_Shaping_of_Middle-earth" target="_blank"> The Shaping of Middle-earth </a> , <a href="https://en.wikipedia.org/wiki/The_Lost_Road_and_Other_Writings" target="_blank"> The Lost Road and Other Writings </a> , <a href="https://en.wikipedia.org/wiki/The_History_of_The_Lord_of_the_Rings" target="_blank"> The History of The Lord of the Rings </a> , <a href="https://en.wikipedia.org/wiki/Morgoth%27s_Ring" target="_blank"> Morgoth's Ring </a> , <a href="https://en.wikipedia.org/wiki/The_War_of_the_Jewels" target="_blank"> The War of the Jewels </a> , <a href="https://en.wikipedia.org/wiki/The_Peoples_of_Middle-earth" target="_blank"> The Peoples of Middle-earth </a> ) , <a href="https://en.wikipedia.org/wiki/The_Lay_of_the_Children_of_H%C3%BArin" target="_blank">The Lay of the Children of Húrin</a> , <a href="https://en.wikipedia.org/wiki/Unfinished_Tales" target="_blank"> Unfinished Tales (<a href="https://en.wikipedia.org/wiki/Narn_i_Ch%C3%AEn_H%C3%BArin" target="_blank">"Narn i Chîn Húrin"</a> , <a href="https://en.wikipedia.org/wiki/The_Quest_of_Erebor" target="_blank"> "The Quest of Erebor"</a>) </a> </a> </i>


        </td>
    </tr>


</table>
@Scripts.Render("~/bundles/scripts")