<title> LOTR </title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="Content/text_style.CSS">
<link rel="stylesheet" href="Content/link_color.CSS">
<link rel="stylesheet" href="Content/dropbtn.CSS">
<link rel="stylesheet" href="Content/tabstyle.CSS">

<script src="Scripts/hideTab.js"></script>
<script src="Scripts/hideTab1.js"></script>
<script src="Scripts/imagezoom.js"></script>
