<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    @Html.Partial("_header")
    <title>@ViewBag.Title LOTR</title>
</head>
<body>

@Html.Partial("_navbar")
@RenderBody()
</body>
</html>
