<center>
    <header style="color:#ff8000">
        <i>One Ring to rule them all, One Ring to find them, One Ring to bring them all, and in the darkness bind them</i>
    </header>
</center>
<style>
@using Microsoft.AspNet.Identity
    p {
        text-align: justify;
        text-justify: auto;
        width: 700px;
        padding-left: 20px;
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }

        #myImg:hover {
            opacity: 0.7;
        }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }


    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
</style>

<div class="sticky">
    <div class="navbar">

        @Html.ActionLink("Home", "index", "Main")
        @* <a href=#>Home</a> *@

        <div class="dropdown">

            <button class="dropbtn">
                Races of middle-earth
                <i class="fa fa-caret-down"></i>
            </button>


            <div class="dropdown-content">

                <a href="https://lotr.fandom.com/wiki/Elves" target="_blank">Elves</a>
                <a href="https://lotr.fandom.com/wiki/Dwarves" target="_blank">Dwarves </a>
                <a href="https://lotr.fandom.com/wiki/Men" target="_blank">Men</a>
                <a href="https://lotr.fandom.com/wiki/Orcs" target="_blank">Orcs</a>
                <a href="https://lotr.fandom.com/wiki/Hobbits" target="_blank">Hobbits</a>

            </div>

        </div>


        <div class="dropdown">

            <button class="dropbtn">
                About the rings of power
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
                <a href="https://en.wikipedia.org/wiki/Three_Rings" target="_blank">3 for the elves</a>
                <a href="http://tolkiengateway.net/wiki/Seven_Rings" target="_blank"> 7 for the dwarves </a>
                <a href="http://tolkiengateway.net/wiki/Nine_Rings" target="_blank"> 9 for the men</a>
                <a href="https://lotr.fandom.com/wiki/One_Ring" target="_blank"> The One Ring </a>
            </div>

        </div>


        <div class="dropdown">

            <button class="dropbtn">
                Provincies of middle-earth
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">

                <a href="https://en.wikipedia.org/wiki/Three_Rings" target="_blank">Lindon</a>
                <a href="http://tolkiengateway.net/wiki/Seven_Rings" target="_blank"> Eriador </a>
                <a href="https://lotr.fandom.com/wiki/One_Ring" target="_blank"> Rohan </a>
                <a href="https://lotr.fandom.com/wiki/One_Ring" target="_blank"> Gondor </a>
                <a href="https://lotr.fandom.com/wiki/One_Ring" target="_blank"> Rhovanion </a>
                <a href="https://lotr.fandom.com/wiki/One_Ring" target="_blank"> Mordor </a>
                <a href="https://lotr.fandom.com/wiki/One_Ring" target="_blank"> Rhun </a>
            </div>

        </div>


        <div class="dropdown">

            <button class="dropbtn">
                Deities of middle-earth
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
                <a href="https://lotr.fandom.com/wiki/Eru_Il%C3%BAvatar" target="_blank">Eru Iluvatar</a>
                <a href="https://lotr.fandom.com/wiki/Valar" target="_blank"> Valar </a>

            </div>
        </div>
         <div class="dropdown">
             <a style="color:chartreuse;">|</a>
         </div>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right", style="color:red;"}))
            {
                @Html.AntiForgeryToken()
                <div class="dropdown">

                    @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage", style="color:chartreuse;"})
                </div>
                <div class="dropdown">
                    <a href="javascript:document.getElementById('logoutForm').submit()" style="color:red;">Log Out</a>
                </div>
            }
        }
        else
        {
            <div class="dropdown">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", style="color:chartreuse;"})</div>
        }

    </div>
</div>